# ESP-IDF build artifacts
build/
bootloader/
*.o
*.d
*.bin
*.elf
*.map
sdkconfig
sdkconfig.old
sdkconfig.*
.vscode/
.idea/
__pycache__/
*.pyc

/tests/test_animals
/tests/test_storage
/tests/test_logging
/tests/test_ui
